<ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
    <li id="modifyData" ><a href="#" th:href="@{/personal/personalCenter}" >修改资料</a></li>
    <li id="modifyPassword" ><a href="#" th:href="@{/personal/personalPassword}" >修改密码</a></li>
    <li id="myResume" ><a href="#" th:href="@{/personal/personalMyResume}" >我的简历</a></li>
    <li id="resumeProduction" ><a href="#" th:href="@{/personal/personalWriter}" >制作简历</a></li>
    <li>
        <a href="#" th:href="@{/personal/personalmsg}" >
            <span class="badge pull-right" id="messageCount" ></span>
            消息通知
        </a>
    </li>
</ul>